* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-image: linear-gradient(315deg, red 0%, orange 74%);
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.wrapper {
	width: 400px;
	background-color: #fff;
	animation: fade-in 3s forwards;
}

.heading {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 150px;
	background-color: #0f8237;
	color: #fff;
}

.heading h2 {
	margin-bottom: 10px;
}

.heading p {
	margin-bottom: 10px;
}

.bottom {
	margin: 20px 15px;
}

.bottom-box {
	width: 100%;
	margin-bottom: 20px;
}

.bottom-box label {
	display: block;
	margin-bottom: 5px;
}

.bottom-box input {
	padding: 10px 20px;
	width: 100%;
	border: 1px solid #808080;
	border-radius: 8px;
}

.bottom-box input:focus {
	outline: none;
	background-color: rgba(15, 130, 55, 0.8);
	color: #fff;
}

.button-box {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

.button-box .show {
	width: 50%;
	padding: 15px;
	background-color: #00ba40;
	color: #fff;
	font-size: 15px;
	border-radius: 8px;
	border: none;
	cursor: pointer;
	transition: background-color 0.3s;
}

.button-box .show:hover {
	background-color: #0c7631;
}

.answer {
	text-align: center;
	margin-bottom: 10px;
	font-size: 25px;
}

@keyframes fade-in {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
